:root {
--beige: #FDF6D9;
--yellow: #F5FF90;
--orange: #F68E5F;
--red: #F76C5E;
--light-blue: #586BA4;
--dark-blue: #324376;
--gray: #b4b4ad;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: .8rem;
}

button {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

label {
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.exercise-text {
  transition: color 0.3s, text-decoration 0.3s;
}

input[type="checkbox"]:checked + .exercise-text {
  color: gray;
  text-decoration: line-through;
}

.exercise-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.exercise-checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.checked-off .exercise-text,
.checked-off h2 {
    color: gray;
    text-decoration: line-through;
    transition: color 0.3s, text-decoration 0.3s;
}

/*  */

.card {
  width: 300px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  margin: 20px;
  padding: 20px;
}

.details {
  text-align: center;
  color: rgb(99, 99, 99);
  margin: 0 0 15px 0;
}

.heading{
  margin: 0;
  font-size: 1rem;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}


.routines-container{
  display: flex;
  flex-wrap: wrap;
}

