:root {
--gray: #b4b4ad;
--purple:  rgb(103, 46, 179);
--black: rgb(18, 4, 66);
--darkaqua: rgb(107, 170, 150);
--font-polysans-mono: '__polySansMono_0d16dc', '__polySansMono_Fallback_0d16dc', Courier New, Courier, monospace;
}


h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: .8rem;
}

button {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin:0;
}

li {
  margin: 10px 0;
}

label {
  cursor: pointer;
}

.mono{
  letter-spacing: .12em;
  text-transform: uppercase;
  color: var(--purple);
  font-weight: 400;
  font-size: 12px;
}

strong{
  font-weight: 900;
}


input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 26px;
}

.notes {
  font-size: .7rem;
}

.exercise-text {
  transition: color 0.3s, text-decoration 0.3s;
  font-size: .9rem;
  color: var(--black);
}

input[type="checkbox"]:checked + .exercise-text {
  color: gray;
  text-decoration: line-through;
}

.exercise-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.exercise-checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.checked-off .exercise-text,
.checked-off h2 {
    color: gray;
    text-decoration: line-through;
    transition: color 0.3s, text-decoration 0.3s;
}

.card {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  margin: 18px 8px ;
  padding: 20px 10px;
}

.details {
  color: var(--black);
  margin: 0 0 15px 0;
  font-size: .6rem;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 20px;
}

.heading{
  margin: 0;
  font-size: 1rem;
  color: var(--black);
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}


.routines-container {
  flex-grow: 1; 
  padding-left: 10px; 
}

.routine-details{
  display: flex;
  flex-direction: column;
}

.vertical-line {
  position: fixed; 
  top: 35px; 
  left: 12px; 
  width: 2px; 
  height: 100vh;
  background-color: var(--purple); 
  z-index: 1; 
}

.vertical-line::before {
  content: '';
  position: absolute;
  top: -10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 10px; 
  height: 10px;
  background-color: var(--purple); 
  border-radius: 50%; 
  z-index: 2; 
}

.stats{
  margin-left: 18px;
  color: var(--black);
}

.line-container {
  position: relative; 
  display: flex; 
}

.excercises{
  font-size: 1rem;
}

.restart{
  position: absolute;
  right: 0;
  margin-right: 32px; 
  top: 86px; 
  transform: translateY(-50%); 
  background-color: var(--darkaqua);
  color: white;
  padding: 16px 20px; 
  border-radius: 5px; 
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.selected-routine-container{
  padding-left: 8px;
  margin-top: 24px;
}

.xsmt{
  margin-top: 4px;
}


.center{
  text-align: center;
}